h1{
    background: brown;
}

p{
    font-family: Century, serif;
    text-align: center;

}

.first-paragraph{
    background: pink;
    font-size: 20px;
    padding: 14px 0px;
}

.second-paragraph{
    background: lightblue;
    font-weight: 600;
    margin: 20px 0px;
}

#main{
    display: block;
}